* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  color: #1D1D1D;
  background-color: #fff;
  scroll-behavior: smooth;
  text-transform: uppercase;
}

.custom-href {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

@media (min-width: 1025px) {
  h1 {
    font-size: 42px;
    padding-bottom: 1.5rem;
  }

  .special {
    padding-left: 1.5rem;
    padding-top: 1.5rem;
  }

  .text-body-large {
    font-size: 20px;
    line-height: 1.2;
    font-weight: 600;
  }

  .text-body {
    font-size: 16px;
    line-height: 1.4;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
  }
}

@media (max-width: 1024px) {
  h1 {
    font-size: 32px;
    padding-bottom: 1rem;
  }

  .text-body-large {
    font-size: 18px;
    line-height: 1.2;
    font-weight: 600;
  }

  .special {
    font-size: 8px;
    line-height: 140%;
    text-transform: uppercase;
    font-weight: 500;
  }
}

.no-tap {
  user-select: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}


header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  z-index: 5;
}

header .container {
  margin: 0 auto;
  padding: 20px clamp(16px, 5vw, 32px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

@media (max-width: 1024px) {
  header .container {
    padding: 20px 16px;
  }
}

.desktop-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

@media (max-width: 1024px) {
  .desktop-only {
    display: none;
  }
}

.left {
  display: flex;
  align-items: center;
  gap: 20px;
}

.logo-group {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-icon {
  background-color: white;
  fill: black;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, fill 0.3s;
  display: inline-block;
}

.logo-icon:hover {
  background-color: black;
  fill: white;
}

.logo-wrapper {
  position: relative;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.logo-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  transition: opacity 0.3s ease;
}

.logo-icon-1 {
  opacity: 1;
  z-index: 2;
}

.logo-icon-2 {
  opacity: 0;
  z-index: 1;
}

.logo-wrapper:hover .logo-icon-1 {
  opacity: 0;
  pointer-events: none;
}

.logo-wrapper:hover .logo-icon-2 {
  opacity: 1;
  pointer-events: auto;
}

.center {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  gap: 42px;
  scroll-behavior: smooth;
}

.center a {
  position: relative;
  text-decoration: none;
  color: #1D1D1D;
  font-weight: 500;
}

.center a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0%;
  height: 2px;
  background-color: #1D1D1D;
  transition: width 0.2s ease;
}

.center a:hover::after {
  width: 100%;
}

.right {
  font-size: 0.95rem;
}

main {
  padding-top: 10vh;

}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 4;
  display: none;
}

section {
  padding: 40px 32px;
  background-color: #ffffff;
}

#home {
  height: 100%;
  padding-top: 12vh;
}

.hero {
  width: 100%;
  height: 80vh;
  object-fit: cover;
  display: block;
  border-radius: 5px;
  overflow: hidden;
}

@media (max-width: 1024px) {
  header .container {
    flex-direction: column;
    align-items: flex-start;
  }

  .center {
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  .hero {
    height: 60vh;
  }
}

@media (max-width: 1024px) {
  section {
    padding: 20px 16px;
  }
}

.main-logo-mobile {
  margin-bottom: 1rem;
  width: 100%;
  height: auto;
  display: block;
}

.main-logo-desktop {
  margin-bottom: 2rem;
}

.mobile-menu-toggle {
  display: block;
  cursor: pointer;
  margin-left: auto;
}

.mobile-menu {
  position: fixed;
  top: 0;
  right: -100%;
  width: 80%;
  max-width: 300px;
  height: 100%;
  background-color: white;
  box-shadow: -4px 0 10px rgba(0, 0, 0, 0.1);
  transition: right 0.3s ease;
  z-index: 50;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.mobile-menu.active {
  right: 0;
}

.mobile-menu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.mobile-logo-group {
  display: flex;
  align-items: center;
  gap: 8px;
}

.mobile-nav {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 10vh;
  align-items: flex-start;
}

.mobile-nav a.nav-button {
  position: relative;
  display: inline-block;
  width: auto;
  text-decoration: none;
  color: #1D1D1D;
  font-size: 1.1rem;
  font-weight: 500;
}

.mobile-nav a.nav-button::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0%;
  height: 2px;
  background-color: #1D1D1D;
  transition: width 0.2s ease;
}

.mobile-nav a.nav-button:hover::after {
  width: 100%;
}

@media (max-width: 1100px) {
  .idomods {
    display: none;
  }
}

@media (max-width: 1024px) {

  .center,
  .right {
    display: none;
  }

  header .container {
    flex-direction: row;
    justify-content: space-between;
  }
}


@media (min-width: 1025px) {
  .mobile-only {
    display: none;
  }
}

.swiper-slide img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.swiper-image {
  position: relative;
  background: #EAEAE8;
  border: 1px solid #eee;
  border-radius: 8px;
  text-align: center;
  padding: 2rem;
}

.corner-icon {
  position: absolute;
  width: 32px;
  height: 32px;
  z-index: 10;
}

.heart-icon {
  position: absolute;
  width: 24px;
  height: 24px;
  z-index: 10;
}

.top-right {
  top: 15px;
  right: 15px;
}

.swiper-info {
  padding: 12px;
}

.slide-name {
  padding-bottom: 0.5rem;
  font-weight: se;
}

.slide-price {
  padding-bottom: 5rem;
}

.custom-scrollbar {
  height: 1px !important;
  background-color: #EAEAE8;
  margin-top: 10px;
  position: relative;
}

.custom-scrollbar-fill {
  position: absolute;
  background-color: #1D1D1D;
  height: 100%;
  transition: width 0.3s ease;
}

.swiper-next {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  z-index: 10;
  cursor: pointer;
  width: auto;
  height: auto;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1024px) {
  .swiper-next {
    right: 0;
  }
}



.swiper-next svg {
  width: 4.5rem;
  height: 4.5rem;
}

.label {
  display: inline-block;
  padding: 4px 12px;
  border-radius: 1000px;
  color: #1D1D1D;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  position: absolute;
  top: 15px;
  left: 15px;
  white-space: nowrap;
  cursor: default;
  font-weight: 500;
  text-transform: uppercase;
}

.label--bestseller {
  background-color: #D9D6B0;
}

.label--limited {
  background-color: #D4B0D9;
}

.heart-icon-wrapper {
  cursor: pointer;
}

.heart-icon-wrapper svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.2s ease-in-out;
}

.heart-icon-hover {
  opacity: 0;
}

.heart-icon-wrapper:hover .heart-icon-default {
  opacity: 0;
}

.heart-icon-wrapper:hover .heart-icon-hover {
  opacity: 1;
}

.dropdown-group {
  padding-top: 5rem;
  padding-bottom: 1.5rem;
  display: grid;
  grid-auto-flow: column;
  gap: 16px;
  justify-content: center;
}

@media (max-width: 600px) {
  .dropdown-group {
    grid-auto-flow: row;
    place-items: center center;
    padding-top: 2rem;
  }
}

.drop-info {
  text-transform: uppercase;
}

.drop-selector {
  width: 75px;
  position: relative;
  transform: translateY(-15px);
  z-index: 4;
}

.dropdown {
  position: absolute;
}

.dropdown-container {
  position: absolute;
  border: 1px solid transparent;
  border-radius: 8px;
  background-color: white;
  cursor: pointer;
  padding: 0 10px;
  z-index: 1001;
}

.dropdown.open .dropdown-container {
  border-color: #ccc;
}

.dropdown-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 16px;
  padding-top: 15px;
  padding-bottom: 1px;
  gap: 10px;
}

.dropdown-toggle::after {
  content: "";
  display: inline-block;
  width: 12px;
  height: 8px;
  margin-left: 4px;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="8" viewBox="0 0 12 8" fill="none"><path d="M5.69976 5.24844L10.2998 0.648437L11.3535 1.70219L5.69976 7.35594L0.0460147 1.70219L1.09976 0.648437L5.69976 5.24844Z" fill="%231D1D1D"/></svg>');

}

.dropdown-menu {
  display: none;
  flex-direction: column;
}

.dropdown.open .dropdown-menu {
  display: flex;
}

.dropdown-item {
  text-align: center;
  padding: 12px 0;
  font-size: 16px;
  border-top: 1px solid #eee;
  font-weight: bold;
}

select {
  margin-bottom: 15px;
  padding: 5px 10px;
  font-size: 16px;
}

#product-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
  padding-top: 1.5rem;
}

@media (max-width: 1024px) {
  #product-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
}

.product-tile {
  position: relative;
  aspect-ratio: 1 / 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  border: 1px solid #ddd;
  padding: 10px;
  box-sizing: border-box;
  background-color: #EAEAE8;
  border-radius: 6px;
}

@media (min-width: 1441px) {
  .product-id {
    padding-left: 22px;
    padding-top: 22px;
  }
}

@media (max-width: 1024px) {
  .product-id {
    font-size: 8px;
  }
}

@media (min-width: 1025px) and (max-width: 1440px) {
  .product-id {
    padding-left: 12px;
    padding-top: 12px;
  }
}


.product-holder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.product-tile img {
  position: relative;
  z-index: 1;
  width: 90%;
  height: auto;
  transform: translateY(-1rem);
}

@media (max-width: 1024px) {
  .product-tile img {
    padding: 0;
    width: 100%;
    transform: translateY(-0.7rem);
  }
}

.loading {
  text-align: center;
  padding: 10px;
  font-style: italic;
  color: #555;
}

.banner {
  position: relative;
  width: 100%;
  border-radius: 6px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  text-align: center;
  box-sizing: border-box;
}

@media (min-width: 1025px) {
  .banner {
    grid-column: span 2;
    height: auto;
  }
}

@media (max-width: 1024px) {
  .banner {
    grid-column: 1 / -1;
    height: calc((200px + 12px) * 3 - 12px);
  }
}

.banner-text {
  margin-top: 10px;
}

.banner-info {
  font-size: 42px;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: -2%;
  text-transform: lowercase;
}

@media (max-width: 1024px) {
  .banner-info {
    font-size: 32px;
  }
}


.banner-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  align-self: center;
  padding: 12px 48px;
  gap: 8px;
  background-color: #ffffff;
  border: none;
  border-radius: 6px;
  text-transform: uppercase;
  vertical-align: middle;
}

.banner-button svg {
  display: block;
  transform: translateY(1px);
}

@media (max-width: 1024px) {
  .button-with-icon svg {
    transform: translateY(0);
  }

  .banner-button {
    width: 90%;
  }
}

.modal.hidden {
  display: none;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
}

.modal-content {
  position: relative;
  background: white;
  padding: 1rem 1.5rem;
  border-radius: 6px;
  width: 90%;
  max-width: 400px;
  max-height: 90vh;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
  overflow: auto;
  text-align: center;
  overflow: hidden;
}

@media (min-width: 1025px) {
  .modal-content {
    width: 60%;
    max-width: 700px;
    max-height: 75vh;
  }
}

.modal-content img {
  max-width: 100%;
  max-height: 550px;
  object-fit: contain;
  margin: 0 auto 0;
  display: block;
}

.modal-id {
  position: absolute;
  top: 24px;
  left: 24px;
}

#modal-close {
  position: absolute;
  top: 24px;
  right: 24px;
  cursor: pointer;
  z-index: 100;
}

@media (max-width: 420px) {
  #modal-close {
    top: 16px;
    right: 16px;
  }

  .modal-id {
    top: 16px;
    left: 16px;
  }

  #modal-image {
    transform: scale(1.5);
    max-height: 450px;
    height: 450px;
  }
}

@media (min-width: 421px) and (max-width: 1024px) {
  #modal-close {
    top: 16px;
    right: 16px;
  }

  .modal-id {
    top: 16px;
    left: 16px;
  }

  #modal-image {
    transform: scale(1.5);
    max-height: 450px;
    height: 450px;
    padding: 30px;
  }
}