* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  color: #1D1D1D;
  background-color: #fff;
  scroll-behavior: smooth;
}

.text-body {
  font-size: 16px;
  /* większy niż domyślny 16px */
  line-height: 1.4;
  /* lepsza czytelność */
  font-weight: 500;
  /* normalna grubość */
}

@media (min-width: 768px) {
  h1 {
  font-size: 42px;
  padding-bottom: 1.5rem;
  }
  .text-body-large {
    font-size: 20px;
    line-height: 1.2;
    font-weight: 600;
  }
}

@media (max-width: 768px) {
  h1 {
  font-size: 32px;
  padding-bottom: 1rem;
  }
  .text-body-large {
    font-size: 18px;
    line-height: 1.2;
    font-weight: 600;
  }
}

/* Nagłówek */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  z-index: 5;
}

header .container {
  margin: 0 auto;
  padding: 20px clamp(16px, 5vw, 32px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

@media (max-width: 767px) {
  header .container {
    padding: 20px 16px;
  }
}

.desktop-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

@media (max-width: 768px) {
  .desktop-only {
    display: none;
  }
}

/* Lewa sekcja */
.left {
  display: flex;
  align-items: center;
  gap: 20px;
}

.logo-group {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-icon {
  background-color: white;
  fill: black;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, fill 0.3s;
  display: inline-block;
}

.logo-icon:hover {
  background-color: black;
  fill: white;
}

.logo-wrapper {
  position: relative;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.logo-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  transition: opacity 0.3s ease;
}

.logo-icon-1 {
  opacity: 1;
  z-index: 2;
}

.logo-icon-2 {
  opacity: 0;
  z-index: 1;
}

.logo-wrapper:hover .logo-icon-1 {
  opacity: 0;
  pointer-events: none;
}

.logo-wrapper:hover .logo-icon-2 {
  opacity: 1;
  pointer-events: auto;
}

/* Środkowe linki */
.center {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  gap: 42px;
  scroll-behavior: smooth;
}

.center a {
  text-decoration: none;
  color: #1D1D1D;
  font-weight: 500;
  transition: color 0.2s;
}

.center a:hover {
  text-decoration: underline;
}

/* Prawa sekcja */
.right {
  font-size: 0.95rem;
}

/* Main content */
main {
  padding-top: 10vh;

}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* półprzezroczysty czarny */
  z-index: 3;
  display: none;
  /* domyślnie ukryty */
}

/* Sekcje */
section {
  padding: 40px 32px;
  background-color: #ffffff;
  margin-bottom: 20px;
}

#sekcja1 {
  height: 100%;
  padding-top: 12vh;
}

.hero {
  width: 100%;
  height: 80vh;
  object-fit: cover;
  display: block;
  border-radius: 5px;
  overflow: hidden;
}

/* Responsive tweaks */
@media (max-width: 768px) {
  header .container {
    flex-direction: column;
    align-items: flex-start;
  }

  .center {
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  .hero {
    height: 60vh;
  }
}

@media (max-width: 768px) {
  section {
    padding: 20px 16px;
  }
}

.main-logo-mobile {
  margin-bottom: 1rem;
  width: 100%;
  height: auto;
  display: block;
}

.main-logo-desktop {
  margin-bottom: 2rem;
}


/* Mobilna ikona menu */
.mobile-menu-toggle {
  display: block;
  cursor: pointer;
  margin-left: auto;
}

/* Mobilne menu (wysuwa się z prawej) */
.mobile-menu {
  position: fixed;
  top: 0;
  right: -100%;
  width: 80%;
  max-width: 300px;
  height: 100%;
  background-color: white;
  box-shadow: -4px 0 10px rgba(0, 0, 0, 0.1);
  transition: right 0.3s ease;
  z-index: 4;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.mobile-menu.active {
  right: 0;
}

/* Górna część menu */
.mobile-menu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.mobile-logo-group {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* Linki w menu */
.mobile-nav {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 10vh;
}

.mobile-nav a {
  text-decoration: none;
  color: #1D1D1D;
  font-size: 1.1rem;
  font-weight: 500;
}

.mobile-nav a:hover {
  text-decoration: underline;
}

/* Ukryj elementy na mobilu / pokaż menu */
@media (max-width: 768px) {

  .center,
  .idomods,
  .right {
    display: none;
  }

  header .container {
    flex-direction: row;
    justify-content: space-between;
  }
}


@media (min-width: 768px) {
  .mobile-only {
    display: none;
  }
}



.swiper-slide img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.swiper-image {
  position: relative;
  background: #EAEAE8;
  border: 1px solid #eee;
  border-radius: 8px;
  text-align: center;
  padding: 2rem;
}

.corner-icon {
  position: absolute;
  width: 32px;
  height: 32px;
  z-index: 10;
}

.top-right {
  top: 15px;
  right: 15px;
}

.swiper-info {
  padding: 12px;
}

.slide-name {
  padding-bottom: 0.5rem;
}

.slide-price {
  padding-bottom: 5rem;
}

.swiper-pagination {
  height: 1px !important;
  background-color: #EAEAE8;
  margin-top: 10px;
  position: relative;
}

.swiper-pagination-progressbar-fill {
  background-color: #1D1D1D !important;
  height: 100%;
  transition: width 0.3s ease;
}

.swiper-next {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  z-index: 10;
  cursor: pointer;
  width: auto;
  height: auto;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
  .swiper-next {
    right: 0;
  }}



.swiper-next svg {
  width: 4.5rem;
  /* TUTAJ kontrolujesz wielkość strzałki */
  height: 4.5rem;
}

.label {
  display: inline-block;
  padding: 4px 12px;
  /* padding: top/bottom 4px, left/right 12px */
  border-radius: 1000px;
  /* bardzo zaokrąglone */
  color: #1D1D1D;
  /* kolor tekstu */
  font-size: 16px;
  /* dostosuj */
  line-height: 140%;
  /* by ładnie pionowo wycentrować tekst */
  text-align: center;
  /* wyśrodkowanie tekstu */
  position: absolute;
  /* jeśli chcesz ustawić top i left */
  top: 15px;
  /* 20px od góry rodzica */
  left: 15px;
  /* 20px od lewej rodzica */
  white-space: nowrap;
  /* żeby tekst się nie łamał */
  cursor: default;
  font-weight: 500;
  /* nieklikalny */
  text-transform: uppercase;
}

.label--bestseller {
  background-color: #D9D6B0;
}

.label--limited {
  background-color: #D4B0D9;
}

.heart-icon-wrapper {
  cursor: pointer;
}

.heart-icon-wrapper svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.2s ease-in-out;
}

.heart-icon-hover {
  opacity: 0;
}

.heart-icon-wrapper:hover .heart-icon-default {
  opacity: 0;
}

.heart-icon-wrapper:hover .heart-icon-hover {
  opacity: 1;
}